.green_line
{
    border-top: 10px solid lightseagreen;
}
.height_box_first
{
    margin-top: 40px;
}
.height_box
{
    margin-top: 10px;
}
.btn_line
{
    display: inline;
}
.pad_bottom
{
    margin-left: 30%;
    margin-right: 20%;
}
.error_notif{
    color: #a73639;
    font-size: 16px;
    font-family:  'b homa', 'titr', 'aradKodak', 'b koodak', 'arial';
}
.error_text_height_first
{
    margin-top: 44px;
}
.error_text_height
{
    margin-top: 14px;
}