.green_line
{
    border-top: 10px solid lightseagreen;
}
.height_box_first
{
    margin-top: 40px;
}
.height_box
{
    margin-top: 10px;
}
.btn_line
{
    display: inline;
}
.pad_bottom
{
    margin-left: 30%;
    margin-right: 20%;
}